html{
    color: black;
}

body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: white;
    font-family: 'Exo 2', sans-serif;
}

nav{
    background-color: black;
    box-shadow: none;
    -webkit-box-shadow: none;
    padding: 0 2rem;
    border: solid 2px red;
}

nav img{
    width: 2rem;
    padding-top: 0.8rem;
}

main {
    flex: 1 0 auto;
    width: 100%;
    max-width: 1920px;
    padding: 0 2rem;
    margin: 0 auto;

}

header h1{
    font-size: 3rem;
    margin-bottom: 4%;
    padding: 2%;
    background-color: red;
    color: white;
    font-weight: bold;
    border: solid 2px black;
    text-align: center;
}

header h2{
    font-size: 2rem;
    margin: 1rem 0;
    text-align: center;
}

input {
    color: black;
}

.campos {
    text-align: left;
    font-size: 150%;
    font-weight: bold;
}

button {
    cursor: pointer;
    margin-top: 2%;
    width: 10rem;
    font-size: 130%;
    padding: 1%;
    color: white;
}

footer{
    background-color: black;
    color: white;
    padding: 1rem 0;
    border: solid 2px red;
}

footer a{
    color: white;
}

footer a:hover{
    text-decoration: underline;
}
