html{
    color: white;
}

body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #140007;
    font-family: 'Tomorrow', sans-serif;

}

nav{
    background-color: black;
    box-shadow: none;
    -webkit-box-shadow: none;
    padding: 0 2rem;
    border: solid 2px #808200;
    font-family: 'Exo 2', sans-serif;
}

nav img{
    width: 2.5rem;
    padding-top: 0.8rem;
}

nav a:hover {
    color: yellow;
}

main {
    flex: 1 0 auto;
    width: 100%;
    max-width: 1920px;
    padding: 0 2rem;
    margin: 0 auto;
}

header {
    margin-bottom: 1%;
}

header h1{
    font-size: 3rem;
    margin: 1rem 0 0 0;
}

header h2{
    font-size: 2rem;
    margin: 1rem 0;
}

footer{
    background-color: black;
    color: white;
    padding: 1rem 0;
    border: solid 2px #808200;
}

footer a{
    color: white;
}

footer a:hover{
    text-decoration: underline;
}

header {
    margin-top: 2%;
    text-align: center;
    border: solid 2px #808200;

}

header h1 {
    margin-bottom: 2%;
}

header h4 {
    font-size: 160%;
}

header h4 a {
    color: white;
}

header h4 a:hover {
    color: yellow;
}

section h3{
    font-size: 1.5rem;
    padding-bottom: 0.3rem;
}

section h3 a{
    color: yellow;
}

section input {
    color: white;
}

section button {
    color: yellow;
    background-color: black;
    border: 2px solid #808200;
    width: 8rem;
    font-size: 1rem;
    padding: 0.7%;
    font-weight: bold;
}

section button:hover {
    cursor: pointer;
}

section a {
    color: yellow;
    font-weight: normal;
}

section .col-12 {
    font-weight: bold;
    font-size: 1.5rem;
}

.error {
    color: yellow;
}

.partida {
    font-size: 1.5rem;
}

#register {
    color: white;
}

#register:hover {
    color: yellow;
}

#centro {
    margin-top: 2%;
    margin-bottom: 5%;
}

#acerca {
    margin-top: 2%;
    text-align: center;
    border: solid 2px #808200;
    padding: 5%;
    font-family: 'Source Code Pro', monospace;

}

@media (max-width: 700px) {
    #centro {
        width: 20rem;
    }
    header h1 {
        font-size: 250%;
    }
}

@media (max-width: 575px) {
    #centro {
        width: 15rem;
    }
    header h1 {
        font-size: 200%;
    }
    header h4 {
        font-size: 150%;
    }
}
